<div style="width: 100%; background-color: gray"><div style="width: <%= @progress.to_i %>%; background-color: black; height: 20px"></div></div>
<%= form_for @profile, url: wizard_path, method: :put do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.object.errors.full_messages_for(:first_name)&.first %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.object.errors.full_messages_for(:last_name)&.first %>

    <%= f.label :age %>
    <%= f.text_field :age %>
    <%= f.object.errors.full_messages_for(:age)&.first %>

    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.object.errors.full_messages_for(:email)&.first %>

    <%= f.submit 'Next', name: "next" %>
<% end %>