<%= turbo_stream.remove @task %>
<%= turbo_stream.append "tasks", partial: "tasks/task", locals: { task: @task } %>
<%= turbo_stream.replace "tasks_count" do %>
    <%= turbo_frame_tag "tasks_count" do %>
        <div class="text gray-300"><%= @tasks.filter {|t| t.status.downcase == 'completed'}.count %> / <%= @tasks.count %></div>
    <% end %>
<% end %>